@charset "utf-8";

@font-face {
    font-family: 'Graphik Thin';
    src: url('../fonts/Graphik-Thin.eot');
    src: local('../fonts/Graphik Thin'), local('../fonts/Graphik-Thin'),
        url('../fonts/Graphik-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Thin.woff2') format('woff2'),
        url('../fonts/Graphik-Thin.woff') format('woff'),
        url('../fonts/Graphik-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Thin Italica';
    src: url('../fonts/Graphik-ThinItalic.eot');
    src: local('../fonts/Graphik Thin Italic'), local('../fonts/Graphik-ThinItalic'),
        url('../fonts/Graphik-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-ThinItalic.woff2') format('woff2'),
        url('../fonts/Graphik-ThinItalic.woff') format('woff'),
        url('../fonts/Graphik-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Super Italic';
    src: url('../fonts/Graphik-SuperItalic.eot');
    src: local('../fonts/Graphik Super Italic'), local('../fonts/Graphik-SuperItalic'),
        url('../fonts/Graphik-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-SuperItalic.woff2') format('woff2'),
        url('../fonts/Graphik-SuperItalic.woff') format('woff'),
        url('../fonts/Graphik-SuperItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Medium';
    src: url('../fonts/Graphik-Medium.eot');
    src: local('../fonts/Graphik Medium'), local('../fonts/Graphik-Medium'),
        url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Medium.woff2') format('woff2'),
        url('../fonts/Graphik-Medium.woff') format('woff'),
        url('../fonts/Graphik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Black';
    src: url('../fonts/Graphik-Black.eot');
    src: local('../fonts/Graphik Black'), local('../fonts/Graphik-Black'),
        url('../fonts/Graphik-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Black.woff2') format('woff2'),
        url('../fonts/Graphik-Black.woff') format('woff'),
        url('../fonts/Graphik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Semibold';
    src: url('../fonts/Graphik-Semibold.eot');
    src: local('../fonts/Graphik Semibold'), local('../fonts/Graphik-Semibold'),
        url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Semibold.woff2') format('woff2'),
        url('../fonts/Graphik-Semibold.woff') format('woff'),
        url('../fonts/Graphik-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik-Super.eot');
    src: local('../fonts/Graphik Super'), local('../fonts/Graphik-Super'),
        url('../fonts/Graphik-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Super.woff2') format('woff2'),
        url('../fonts/Graphik-Super.woff') format('woff'),
        url('../fonts/Graphik-Super.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Extra Light Italic';
    src: url('../fonts/Graphik-ExtralightItalic.eot');
    src: local('../fonts/Graphik Extralight Italic'), local('../fonts/Graphik-ExtralightItalic'),
        url('../fonts/Graphik-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/Graphik-ExtralightItalic.woff') format('woff'),
        url('../fonts/Graphik-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Black Italic';
    src: url('../fonts/Graphik-BlackItalic.eot');
    src: local('../fonts/Graphik Black Italic'), local('../fonts/Graphik-BlackItalic'),
        url('../fonts/Graphik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Graphik-BlackItalic.woff') format('woff'),
        url('../fonts/Graphik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Regular Italic';
    src: url('../fonts/Graphik-RegularItalic.eot');
    src: local('../fonts/Graphik Regular Italic'), local('../fonts/Graphik-RegularItalic'),
        url('../fonts/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('../fonts/Graphik-RegularItalic.woff') format('woff'),
        url('../fonts/Graphik-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Light';
    src: url('../fonts/Graphik-Light.eot');
    src: local('../fonts/Graphik Light'), local('../fonts/Graphik-Light'),
        url('../fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Light.woff2') format('woff2'),
        url('../fonts/Graphik-Light.woff') format('woff'),
        url('../fonts/Graphik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Bold';
    src: url('../fonts/Graphik-Bold.eot');
    src: local('../fonts/Graphik Bold'), local('../fonts/Graphik-Bold'),
        url('../fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Bold.woff2') format('woff2'),
        url('../fonts/Graphik-Bold.woff') format('woff'),
        url('../fonts/Graphik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Regular';
    src: url('../fonts/Graphik-Regular.eot');
    src: local('../fonts/Graphik Regular'), local('../fonts/Graphik-Regular'),
        url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff'),
        url('../fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Bold Italic';
    src: url('../fonts/Graphik-BoldItalic.eot');
    src: local('../fonts/Graphik Bold Italic'), local('../fonts/Graphik-BoldItalic'),
        url('../fonts/Graphik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Graphik-BoldItalic.woff') format('woff'),
        url('../fonts/Graphik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Semibold Italic';
    src: url('../fonts/Graphik-SemiboldItalic.eot');
    src: local('../fonts/Graphik Semibold Italic'), local('../fonts/Graphik-SemiboldItalic'),
        url('../fonts/Graphik-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Graphik-SemiboldItalic.woff') format('woff'),
        url('../fonts/Graphik-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Light Italic';
    src: url('../fonts/Graphik-LightItalic.eot');
    src: local('../fonts/Graphik Light Italic'), local('../fonts/Graphik-LightItalic'),
        url('../fonts/Graphik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-LightItalic.woff2') format('woff2'),
        url('../fonts/Graphik-LightItalic.woff') format('woff'),
        url('../fonts/Graphik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Extra Light';
    src: url('../fonts/Graphik-Extralight.eot');
    src: local('../fonts/Graphik Extralight'), local('../fonts/Graphik-Extralight'),
        url('../fonts/Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Extralight.woff2') format('woff2'),
        url('../fonts/Graphik-Extralight.woff') format('woff'),
        url('../fonts/Graphik-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Medium Italic';
    src: url('../fonts/Graphik-MediumItalic.eot');
    src: local('../fonts/Graphik Medium Italic'), local('../fonts/Graphik-MediumItalic'),
        url('../fonts/Graphik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Graphik-MediumItalic.woff') format('woff'),
        url('../fonts/Graphik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

html,
body {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: #151515;
    background: #151515;
    user-select: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

nav {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    z-index: 999;
    background: #fff;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ED1C24;
    transition: all .3s ease;
}

.logo img {
    width: auto;
    height: 100%;
    transition: all .3s ease;
}

.sticky nav .logo img {
    transform: translate(0,50%);
}

.links {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.links a {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0 1rem;
    color: #151515;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #ddd;
}

.links a:focus,
.links a:hover,
.links a:active {
    background: linear-gradient(to bottom, transparent 70%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0.2) 100%);
    color: #ED1C24;
}

.actions {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.actions a {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 220px;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.actions a:nth-child(1) {
    background: #ED1C24;
}

.actions a:nth-child(2) {
    color: #fff;
    background: #000;
}

header {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 300px;
    padding: 0 100px;
    margin: 60px 0 0 0;
    background: url('../img/banner.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
}

.text {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.new,
.tag {
    display: block;
    float: none;
    font-family: 'Graphik Bold';
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
}

.new {
    color: #ED1C24;
}

.slider {
    position: relative !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    float: right;
    width: 60%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.name {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.name img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 160px;
}

.name span {
    font-family: 'Graphik Bold';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 20px 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.buy {
    font-family: 'Graphik Medium';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    color: #fff;
    background: #ED1D24;
    font-size: 12px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-cursor: pointer;
    box-shadow: none;
}

main {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 100px;
    margin: 0;
    background: #fff;
}

.selection {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.motul {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
}

.motul img {
    width: 220px;
    height: auto;
}

.type {
    font-family: 'Graphik Semibold';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url('../img/bg.png');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
}

.login:before {
    content: "";
    position: absolute;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.5);
}

.login form {
    position: relative;
    display: block;
    float: left;
    width: 300px;
    height: auto;
    padding: 0;
    margin: 0;
}

.content {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 40px;
    height: 40px;
    color: #ddd;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.container {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
}

.container:last-child {
    margin: 0;
}

.incorrect .input {
    color: #ED1D24;
    border-color: #ED1D24;
}

.incorrect .icon {
    color: #ED1D24;
    border-color: #ED1D24;
}

.incorrect .description {
    color: #ED1D24;
}

.input {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 40px);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin: 0;
    color: #151515;
    font-size: 14px;
    border: 1px solid #ddd;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

.input::-webkit-input-placeholder {
  color: #ddd;
}

.input::placeholder {
  color: #ddd;
}

.input:focus,
.input:hover,
.input:active {
    outline: 0;
}

.description {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    font-size: 12px;
    color: #ddd;
    text-transform: capitalize;
}

.button {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    color: #fff;
    background: #ED1D24;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-cursor: pointer;
    box-shadow: none;
}

.button:focus,
.button:hover,
.button:active {
    outline: 0;
}

footer {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 60px 0 120px;
    margin: 0;
    color: #666666;
}

.footer-container {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 100px;
}

.footer-copyright,
.footer-links {
    position: relative;
    display: block;
    float: left;
    height: auto;
    padding: 0;
    margin: 0;
}

.footer-copyright {
    width: calc(100% / 3);
}

.footer-links {
    width: calc((100% / 3) * 2);
}

.align-links {
    float: right;
}

.footer-logo {
    position: relative;
    display: block;
    float: left;
    width: 160px;
    height: 45px;
    margin-bottom: 4rem;
}

.footer-copyright p {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.footer-links span {
    font-family: 'Graphik Medium';
    color: #ED1C24;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.footer-links a {
    font-family: 'Graphik Medium';
    color: #666;
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0 0 3rem;
}

.footer-25 {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: auto;
    padding: 0;
    margin: 0;
}

.social-links {
    position: relative;
    display: flex;
    float: left;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.social-ghost {
    position: relative;
    display: flex;
    float: left;
    min-width: 280px;
    height: auto;
    font-size: 30px;
    justify-content: space-around;
    padding: 10px 10px 0 10px;
}

.social-ghost a {
    color: #666;
}

.social-ghost a:hover,
.social-ghost a:focus,
.social-ghost a:active {
    color: #fff;
}

.filters {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 120px;
    padding: 60px 0 0 0;
    margin: 0;
    z-index: 666;
    background: url('../img/strip.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.filters:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(237,28,36,0.9);
}

.inputs {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    margin: 0;
    background: #ED1C24;
    transition: all .3s ease;
}

.inputs input {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0 1rem;
    color: #151515;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    z-index: 9999;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.inputs input:focus,
.inputs input:hover,
.inputs input:active {
    outline: 0;
}

.inputs input::-webkit-input-placeholder {
  color: #151515;
}

.inputs input::placeholder {
  color: #151515;
}

.inputs-actions {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 220px;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0;
    color: #fff;
    background: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.to-select,
.to-go {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.to-select {
    float: left;
}

.to-go {
    float: right;
}

select {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 100%;
    padding: 0 15px;
    margin: 0;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.sticky #filters {
    position: fixed;
    top: 60px;
    left: 0;
    padding: 0;
    height: 60px;
}

.sticky #filters .inputs {
    padding: 0 220px;
}

.sticky main {
    padding-top: 120px;
}

.categories {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 0;
    margin: 0;
    border-left: 1px solid #ddd;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.item:hover .item-name {
    margin: 0 0 0 25px;
}

.item-type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50px;
    height: 50px;
    padding: 0;
    border-right: 1px solid #ddd;
}

.item-type img {
    width: 60%;
    height: auto;
}

.item-name {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0 0 10px;
    font-size: 14px;
    transition: all .3s ease;
}

.products {
    position: relative;
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    width: calc(100% - 300px);
    height: auto;
    padding: 0;
    margin: 0 0 0 300px;
    border-left: 1px solid #ddd;
}

.products .product {
    padding: 40px;
    width: 25%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.products .product .name span {
    color: #ED1C24;
    margin-bottom: 5px;
}

.products .product .name p {
    font-family: 'Graphik Regular';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    text-align: center;
}

.shop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.more,
.less {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 30px;
    height: 30px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 50%;
    background: #ED1C24;
    cursor: pointer;
}

.total {
    font-family: 'Graphik Bold';
    position: relative;
    display: block;
    float: left;
    width: 60px;
    height: auto;
    padding: 0;
    margin: 0;
    color: #ED1C24;
    font-size: 20px;
    text-align: center;
}