@charset "utf-8";

@font-face {
    font-family: 'Graphik Thin';
    src: url('../fonts/Graphik-Thin.eot');
    src: local('../fonts/Graphik Thin'), local('../fonts/Graphik-Thin'),
        url('../fonts/Graphik-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Thin.woff2') format('woff2'),
        url('../fonts/Graphik-Thin.woff') format('woff'),
        url('../fonts/Graphik-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Thin Italica';
    src: url('../fonts/Graphik-ThinItalic.eot');
    src: local('../fonts/Graphik Thin Italic'), local('../fonts/Graphik-ThinItalic'),
        url('../fonts/Graphik-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-ThinItalic.woff2') format('woff2'),
        url('../fonts/Graphik-ThinItalic.woff') format('woff'),
        url('../fonts/Graphik-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Super Italic';
    src: url('../fonts/Graphik-SuperItalic.eot');
    src: local('../fonts/Graphik Super Italic'), local('../fonts/Graphik-SuperItalic'),
        url('../fonts/Graphik-SuperItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-SuperItalic.woff2') format('woff2'),
        url('../fonts/Graphik-SuperItalic.woff') format('woff'),
        url('../fonts/Graphik-SuperItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Medium';
    src: url('../fonts/Graphik-Medium.eot');
    src: local('../fonts/Graphik Medium'), local('../fonts/Graphik-Medium'),
        url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Medium.woff2') format('woff2'),
        url('../fonts/Graphik-Medium.woff') format('woff'),
        url('../fonts/Graphik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Black';
    src: url('../fonts/Graphik-Black.eot');
    src: local('../fonts/Graphik Black'), local('../fonts/Graphik-Black'),
        url('../fonts/Graphik-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Black.woff2') format('woff2'),
        url('../fonts/Graphik-Black.woff') format('woff'),
        url('../fonts/Graphik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Semibold';
    src: url('../fonts/Graphik-Semibold.eot');
    src: local('../fonts/Graphik Semibold'), local('../fonts/Graphik-Semibold'),
        url('../fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Semibold.woff2') format('woff2'),
        url('../fonts/Graphik-Semibold.woff') format('woff'),
        url('../fonts/Graphik-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik-Super.eot');
    src: local('../fonts/Graphik Super'), local('../fonts/Graphik-Super'),
        url('../fonts/Graphik-Super.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Super.woff2') format('woff2'),
        url('../fonts/Graphik-Super.woff') format('woff'),
        url('../fonts/Graphik-Super.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Extra Light Italic';
    src: url('../fonts/Graphik-ExtralightItalic.eot');
    src: local('../fonts/Graphik Extralight Italic'), local('../fonts/Graphik-ExtralightItalic'),
        url('../fonts/Graphik-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-ExtralightItalic.woff2') format('woff2'),
        url('../fonts/Graphik-ExtralightItalic.woff') format('woff'),
        url('../fonts/Graphik-ExtralightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Black Italic';
    src: url('../fonts/Graphik-BlackItalic.eot');
    src: local('../fonts/Graphik Black Italic'), local('../fonts/Graphik-BlackItalic'),
        url('../fonts/Graphik-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-BlackItalic.woff2') format('woff2'),
        url('../fonts/Graphik-BlackItalic.woff') format('woff'),
        url('../fonts/Graphik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Regular Italic';
    src: url('../fonts/Graphik-RegularItalic.eot');
    src: local('../fonts/Graphik Regular Italic'), local('../fonts/Graphik-RegularItalic'),
        url('../fonts/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-RegularItalic.woff2') format('woff2'),
        url('../fonts/Graphik-RegularItalic.woff') format('woff'),
        url('../fonts/Graphik-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Light';
    src: url('../fonts/Graphik-Light.eot');
    src: local('../fonts/Graphik Light'), local('../fonts/Graphik-Light'),
        url('../fonts/Graphik-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Light.woff2') format('woff2'),
        url('../fonts/Graphik-Light.woff') format('woff'),
        url('../fonts/Graphik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Bold';
    src: url('../fonts/Graphik-Bold.eot');
    src: local('../fonts/Graphik Bold'), local('../fonts/Graphik-Bold'),
        url('../fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Bold.woff2') format('woff2'),
        url('../fonts/Graphik-Bold.woff') format('woff'),
        url('../fonts/Graphik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Regular';
    src: url('../fonts/Graphik-Regular.eot');
    src: local('../fonts/Graphik Regular'), local('../fonts/Graphik-Regular'),
        url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Regular.woff2') format('woff2'),
        url('../fonts/Graphik-Regular.woff') format('woff'),
        url('../fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Bold Italic';
    src: url('../fonts/Graphik-BoldItalic.eot');
    src: local('../fonts/Graphik Bold Italic'), local('../fonts/Graphik-BoldItalic'),
        url('../fonts/Graphik-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-BoldItalic.woff2') format('woff2'),
        url('../fonts/Graphik-BoldItalic.woff') format('woff'),
        url('../fonts/Graphik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Semibold Italic';
    src: url('../fonts/Graphik-SemiboldItalic.eot');
    src: local('../fonts/Graphik Semibold Italic'), local('../fonts/Graphik-SemiboldItalic'),
        url('../fonts/Graphik-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/Graphik-SemiboldItalic.woff') format('woff'),
        url('../fonts/Graphik-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Light Italic';
    src: url('../fonts/Graphik-LightItalic.eot');
    src: local('../fonts/Graphik Light Italic'), local('../fonts/Graphik-LightItalic'),
        url('../fonts/Graphik-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-LightItalic.woff2') format('woff2'),
        url('../fonts/Graphik-LightItalic.woff') format('woff'),
        url('../fonts/Graphik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik Extra Light';
    src: url('../fonts/Graphik-Extralight.eot');
    src: local('../fonts/Graphik Extralight'), local('../fonts/Graphik-Extralight'),
        url('../fonts/Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-Extralight.woff2') format('woff2'),
        url('../fonts/Graphik-Extralight.woff') format('woff'),
        url('../fonts/Graphik-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik Medium Italic';
    src: url('../fonts/Graphik-MediumItalic.eot');
    src: local('../fonts/Graphik Medium Italic'), local('../fonts/Graphik-MediumItalic'),
        url('../fonts/Graphik-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Graphik-MediumItalic.woff2') format('woff2'),
        url('../fonts/Graphik-MediumItalic.woff') format('woff'),
        url('../fonts/Graphik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

html,
body {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: #151515;
    background: #151515;
    user-select: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}

nav {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    z-index: 999;
    background: linear-gradient(#fff 40px,#dedede);
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.logo img {
    width: auto;
    height: 100%;
}

.links {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.links a {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0 1rem;
    color: #151515;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #ddd;
}

.links a:focus,
.links a:hover,
.links a:active {
    background: linear-gradient(to bottom, transparent 70%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0.2) 100%);
    color: #ED1C24;
}

.actions {
    position: relative;
    display: block;
    float: right;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.actions a {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 220px;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.red {
    background: #ED1C24;
}

.black {
    color: #fff;
    background: #000;
}

header {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 300px;
    padding: 0 100px;
    margin: 60px 0 0 0;
    background: url('../img/banner.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
}

.text {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.new,
.tag {
    display: block;
    float: none;
    font-family: 'Graphik Bold';
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
}

.new {
    color: #ED1C24;
}

.slider {
    position: relative !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    float: right;
    width: 60%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.name {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.name img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 160px;
}

.name span {
    font-family: 'Graphik Bold';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 20px 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

.buy {
    font-family: 'Graphik Medium';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    color: #fff;
    background: #ED1D24;
    font-size: 12px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-cursor: pointer;
    box-shadow: none;
}

main {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 100px;
    margin: 0;
    background: #fff;
}

.selection {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.motul {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
}

.motul img {
    width: 220px;
    height: auto;
}

.type {
    font-family: 'Graphik Semibold';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 40px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url('../img/bg.png');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
}

.login:before {
    content: "";
    position: absolute;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0.5);
}

.login form {
    position: relative;
    display: block;
    float: left;
    width: 300px;
    height: auto;
    padding: 0;
    margin: 0;
}

.content {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 40px;
    height: 40px;
    color: #ddd;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.container {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
}

.container:last-child {
    margin: 0;
}

.incorrect .input {
    color: #ED1D24;
    border-color: #ED1D24;
}

.incorrect .icon {
    color: #ED1D24;
    border-color: #ED1D24;
}

.incorrect .description {
    color: #ED1D24;
}

.input {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: calc(100% - 40px);
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin: 0;
    color: #151515;
    font-size: 14px;
    border: 1px solid #ddd;
    border-left: 0;
    border-radius: 0 5px 5px 0;
}

.input::-webkit-input-placeholder {
  color: #ddd;
}

.input::placeholder {
  color: #ddd;
}

.input:focus,
.input:hover,
.input:active {
    outline: 0;
}

.description {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    font-size: 12px;
    color: #ddd;
    text-transform: capitalize;
}

.button {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    color: #fff;
    background: #ED1D24;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-cursor: pointer;
    box-shadow: none;
}

.button:focus,
.button:hover,
.button:active {
    outline: 0;
}

footer {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 60px 0 120px;
    margin: 0;
    color: #666;
    background: #151515;
}

.footer-container {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 100px;
}

.footer-copyright,
.footer-links {
    position: relative;
    display: block;
    float: left;
    height: auto;
    padding: 0;
    margin: 0;
}

.footer-copyright {
    width: calc(100% / 3);
}

.footer-links {
    width: calc((100% / 3) * 2);
}

.align-links {
    float: right;
}

.footer-logo {
    position: relative;
    display: block;
    float: left;
    width: 160px;
    height: 45px;
    margin-bottom: 4rem;
}

.footer-copyright p {
    font-family: 'Graphik Medium';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.footer-links span {
    font-family: 'Graphik Medium';
    color: #ED1C24;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.footer-links a {
    font-family: 'Graphik Medium';
    color: #666;
    padding: 0;
    margin: 0;
    font-size: 13px;
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0 0 3rem;
}

.footer-25 {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: auto;
    padding: 0;
    margin: 0;
}

.social-links {
    position: relative;
    display: flex;
    float: left;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.social-ghost {
    position: relative;
    display: flex;
    float: left;
    min-width: 280px;
    height: auto;
    font-size: 30px;
    justify-content: space-around;
    padding: 10px 10px 0 10px;
}

.social-ghost a {
    color: #666;
}

.social-ghost a:hover,
.social-ghost a:focus,
.social-ghost a:active {
    color: #fff;
}

.filters {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 120px;
    padding: 60px 0 0 0;
    margin: 0;
    z-index: 666;
    background: #ED1C24;
    transition: background .3s ease;
}

.inputs {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 60px;
    padding: 0 100px;
    margin: 0;
    background: #ED1C24;
    transition: all .3s ease;
}

.inputs input {
    font-family: FontAwesome, Graphik Bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0 1rem;
    color: #ED1C24;
    text-decoration: none;
    text-transform: uppercase;
    border: 0;
    z-index: 9999;
    border-right: 1px solid #ddd;
}

.inputs input:focus,
.inputs input:hover,
.inputs input:active {
    outline: 0;
}

.inputs input::-webkit-input-placeholder {
  color: #ED1C24;
}

.inputs input::placeholder {
  color: #ED1C24;
}

.sticky .inputs input {
    color: #fff;
    background: #ED1C24;
    border-right: 1px solid #fff;
}

.sticky .inputs input::-webkit-input-placeholder {
  color: #fff;
}

.sticky .inputs input::placeholder {
  color: #fff;
}

.inputs-actions {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 220px;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0;
    color: #fff;
    background: #000;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.inputs-actions i {
    margin: 0 10px 0 0;
}

.to-select,
.to-go {
    position: relative;
    display: block;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}

.to-select {
    float: left;
}

.to-go {
    float: right;
}

select {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: 100%;
    padding: 0 15px;
    margin: 0;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.sticky #filters {
    position: fixed;
    top: 60px;
    left: 0;
    padding: 0;
    height: 60px;
    background: transparent;
}

.sticky #filters .inputs {
    padding: 0 220px;
    background: transparent;
}

.sticky main {
    padding-top: 120px;
}

.categories {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.item:hover .item-name {
    margin: 0 0 0 25px;
}

.item-type {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50px;
    height: 50px;
    padding: 0;
    border-right: 1px solid #ddd;
}

.item-type img {
    width: 60%;
    height: auto;
}

.item-name {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0 0 10px;
    font-size: 14px;
    transition: all .3s ease;
}

.products {
    position: relative;
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    width: calc(100% - 300px);
    height: auto;
    padding: 0;
    margin: 0 0 0 300px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.products .product {
    padding: 40px;
    width: 25%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.products .product .name span {
    color: #ED1C24;
    margin-bottom: 5px;
}

.products .product .name p {
    font-family: 'Graphik Regular';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    text-align: center;
}

.shop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.more,
.less {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 30px;
    height: 30px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 50%;
    background: #ED1C24;
    cursor: pointer;
}

.total {
    font-family: 'Graphik Bold';
    position: relative;
    display: block;
    float: left;
    width: 60px;
    height: auto;
    padding: 0;
    margin: 0;
    color: #ED1C24;
    font-size: 20px;
    text-align: center;
}

.current {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: auto;
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.cases {
    position: relative;
    display: block;
    width: 80px;
    height: auto;
    margin: 0 0 0 10px;
    border: 2px solid #000;
    border-radius: 4px;
    overflow: hidden;
}

.cases span {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 20px;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

.cases label {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 25px;
    padding: 0;
    color: #fff;
    font-size: 12px;
    background: #000;
    text-align: center;
}

.option-selection {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 100px 100px;
    margin: 60px 0 0 0;
    background: url('../img/category.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.option-selection .title {
    width: 100%;
    height: 300px;
    margin: 0;
}

.option-selection .title .text {
    width: 100%;
    padding: 0 0 0 30px;
    border-left: 20px solid #fff;
}

.options {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.option {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 25%;
    height: auto;
    padding: 20px;
    margin: 0;
}

.option label {
    font-family: 'Graphik Bold';
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.main {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
    background: #ED1C24;
}

.head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.head img {
    filter: invert(1);
    width: 100px;
    height: auto;
}

.this-selection {
    font-family: 'Graphik Bold';
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    width: 140px;
    height: 40px;
    padding: 0;
    margin: 0 auto;
    font-size: 12px;
    color: #fff;
    background: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.history {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 100px 100px;
    margin: 60px 0 0 0;
    background: url('../img/category.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.history .title {
    width: 100%;
    height: 300px;
    margin: 0;
}

.history .title .text {
    width: 100%;
    padding: 0 0 0 30px;
    border-left: 20px solid #fff;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #151515;
}

th,
td {
    color: #fff;
    padding: 15px;
    border: 2px solid #000;
}

th  {
    font-size: 20px;
    background: #000;
    font-family: 'Graphik Bold';
    text-transform: uppercase;
}

td {
    font-size: 16px;
    font-family: 'Graphik Medium';
    text-align: center;
}

td:nth-child(4) {
    text-align: right;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
}

.badge-red {
    background: #ED1C24;
}

.badge-green {
    background: #008744;
}

.badge-gray {
    background: #666;
}

.open-menu-mobile {
    display: none;
    overflow: hidden;
}

.mobile-shop {
    display: none;
    overflow: hidden;
}

.shop-mobile {
    display: none;
    overflow: hidden;
}

.global-total {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    color: #fff;
    background: #000;
}

#shop_desktop {
    position: fixed;
    display: block;
    top: 60px;
    right: 0;
    width: 440px;
    height: calc(100% - 60px);
    background: #fff;
    z-index: 999;
    transition: all .3s ease;
    transform: translate(100%,0);
}

.show-shop-desktop {
    transform: translate(0,0) !important;
}

@media only screen and (max-width: 1000px) {

    .resume-items {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: calc(100% - 155px);
        padding: 0;
        margin: 0;
        overflow-y: auto;
    }

    .resume-items table {
        width: 100%;
        background: #fff;
    }

    .resume-items table tr {
        border-bottom: 1px solid #ddd;
    }

    .resume-items table tr td:last-child {
        border: 0;
    }

    .resume-items table td {
        font-family: 'Graphik Bold';
        font-size: 12px;
        padding: 5px;
        color: #ec1d23;
        border: 0;
        border-right: 1px solid #ddd;
    }

    .resume-items table td img {
        height: 40px;
    }

    .shop-mobile .inputs-actions {
        width: 100%;
        height: 60px;
        background: #ED1C24;
    }

    .resume-total {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: 45px;
        padding: 0;
        margin: 0;
    }

    .resume-total .cases {
        font-family: 'Graphik Bold';
        width: calc(100% / 3);
        margin: 0;
        float: left;
        border-radius: 0;
        border: 0;
        border-right: 2px solid #000;
    }

    .resume-total .cases:last-child {
        border-right: 0;
    }

    .show-shop-mobile .shop-mobile {
        transform: translate(0,0);
    }

    .shop-mobile {
        position: fixed;
        top: 60px;
        right: 0;
        display: block;
        width: 50%;
        height: calc(100% - 60px);
        padding: 0;
        margin: 0;
        background: #fff;
        transform: translate(140px,0);
        transition: all .3s ease;
    }

    header,
    #filters,
    main,
    footer {
        transition: all .3s ease;
    }

    .show-shop-mobile {
        overflow: hidden;
    }

    .show-shop-mobile header,
    .show-shop-mobile #filters,
    .show-shop-mobile main,
    .show-shop-mobile footer {
        transform: translate(-50%,0);
    }

    .to-select {
        width: 100%;
    }

    .to-select input {
        -webkit-appearance: none;
        appearance: none;
        width: calc(100% / 3);
        height: 50px;
        font-size: 12px;
        padding: 0 10px;
        text-align: center;
        border-radius: 0 !important; 
    }

    .to-select input:last-child {
        border: 0;
    }

    .inputs {
        padding: 0;
        height: auto;
    }

    .to-go {
        width: 100%;
    }

    .to-go .inputs-actions {
        width: 100%;
        height: 50px;
    }

    .sticky #filters {
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        height: auto;
        background: transparent;
    }

    .sticky #filters .inputs {
        padding: 0 !important;
        background: transparent;
    }

    .open-menu-mobile {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: 70px;
        height: 60px;
        cursor: pointer;
        border-left: 1px solid #fff;
    }

    .mobile-shop {
        position: absolute;
        top: 0;
        right: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: 70px;
        height: 60px;
        cursor: pointer;
        border-left: 1px solid #fff;
    }

    .icon-cart {
        position: relative;
        display: block;
        width: 23px;
        height: 23px;
        padding: 0;
        margin: 0;
        background: url(../img/ico-cart.png);
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: initial;
    }

    .cart-counter {
        font-family: 'Graphik Bold';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -10px;
        right: -10px;
        width: 18px;
        height: 18px;
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 9px;
        background: #ec1d23;
        border-radius: 50%;
    }

    nav {
        overflow: hidden;
    }

    nav .links,
    nav .actions {
        display: none;
    }

    nav .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        background: #ED1C24;
    }

    nav .logo img {
        width: 155px;
    }

    header {
        padding: 10% 5%;
        height: auto;
    }

    header .title {
        width: 100%;
        margin: 0 0 10% 0;
    }

    header .title .text {
        width: 100%;
    }

    header .title .new,
    header .title .tag {
        font-size: 30px;
        text-align: center;
    }

    .slider {
        width: 100%;
    }

    header .name img {
        height: 100px;
    }

    header .name span {
        padding: 0 5px;
        margin: 10px 0 20px 0;
    }

    .buy {
        font-size: 10px;
        width: 80%;
        margin: 0 10%;
    }

    main .name img {
        height: 120px;
    }

    main .name span {
        font-size: 12px;
        margin: 10px 0 !important;
    }

    main .name p {
        font-size: 12px !important;
    }

    .total {
        font-size: 18px;
    }

    .more,
    .less {
        width: 25px;
        height: 25px;
    }

    /* MENU MOBILE */

    .menu-mobile {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        padding: 0;
        margin: 0;
        z-index: 888;
        background: #151515;
        transition: all .3s ease;
        transform: translate(-100%,0);
    }

    .show-menu-mobile {
        transform: translate(0,0);
    }

    .show-menu-mobile .mobile-content .mobile-link {
        animation: showmobilelink .3s ease forwards;
        animation-delay: .3s;
    }

    @keyframes showmobilelink {
        from { 
            opacity: 0;
            transform: translate(0,20px);
        }
        to { 
            opacity: 1;
            transform: translate(0,0);
        }
    }

    .mobile-content {
        position: relative;
        display: block;
        float: left;
        width: 100%;
        height: auto;
    }

    .mobile-link {
        font-family: 'Graphik Light';
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: 100%;
        margin: 0 0 10% 0;
        color: #fff;
        opacity: 0;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        transform: translate(0,20px);
        transition: all .3s ease;
    }

    .mobile-link:last-child {
        width: 70%;
        padding: 15px 0;
        color: #fff;
        background: #ED1C24;
        float: none;
        margin: 0 auto;
    }

    .mobile-link:after,
    .mobile-link:before {
        content: "•";
        position: relative;
        display: block;
        float: left;
        color: #ED1C24;
    }

    .mobile-link:after {
        margin: 0 0 0 10px;
    }

    .mobile-link:before {
        margin: 0 10px 0 0;
    }

    .show-menu-icon .lines {
        background: transparent;
    }

    .show-menu-icon .lines:after {
        top: 8px;
        transform: rotate(-45deg);
    }

    .show-menu-icon .lines:before {
        top: -8px;
        transform: rotate(45deg);
    }

    main {
        padding: 10% 5% !important;
    }

    .categories {
        display: none;
    }

    .products {
        width: 100%;
        margin: 0;
    }

    .filters {
        padding: 0;
        height: auto;
    }

    .products .product {
        width: 50%;
        padding: 20px 10px;
        margin: 0;
    }

    .products .product:last-child,
    .products .product:nth-last-child(2) {
        margin: 0;
    }

    .lines {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 3px;
        background: #ec1d23;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .lines:before,
    .lines:after {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        width: 30px;
        height: 3px;
        background: #ec1d23;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform-origin: 0.28571rem center;
        transform-origin: 0.28571rem center;
    }

    .lines:before {
        top: 8px;
    }

    .lines:after {
        top: -8px;
    }

    footer {
        padding: 60px 0;
    }
    
    .footer-copyright {
        width: 100%;
    }
    
    .footer-links {
        display: flex;
        flex-direction: initial;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-logo,
    .footer-copyright p {
        margin-bottom: 1rem;
    }
    
    .footer-container {
        padding: 0 5%;
    }
    
    .social-links {
        margin: 1em 0 0 0;
    }

    .social-ghost {
        min-width: 100%;
        padding: 0;
    }

    .footer-25 {
        width: 50%;
    }

    .footer-links ul {
        margin: 0 0 1rem;
    }
}